* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  padding: 0px;
  margin: 0px;
 
}


body {
  
  background: linear-gradient(rgb(118, 175, 216), rgba(22, 255, 239, 0.91));
  
}

/*MENU cabecera*/
header {
  background-image: url('../img/fondo_3.jpg');
  display:flex;
  margin-top: auto;
  align-content: auto;
  padding: 3px;
  width: 100%;
  height:90px;
  box-shadow: 10px 14px 20px rgba(11, 67, 187, 0.337);
  margin-bottom:0px;
  min-width:250px;

}



header .nav-links {
  background-color: none;
  list-style: none;
  margin-left: 50px;
  margin-top: 25px;

}

header .nav-links li {
  
  display: inline-block;
 
  padding: 0 25px;
  margin-bottom:0px;

}


header a {
  font-family: "Russo One", sans-serif;
  background-color: none;
  font-size: 25px;
  color: rgb(15, 11, 216);
  text-shadow: rgb(4, 4, 124) 2px 2px 5px;
  text-decoration: none;
  padding: 25px;
  margin-bottom:0px;
  min-width:250px;
}

header .nav-links li a:hover {
  color: rgb(19, 193, 48);
}

/*----Fin Menu----*/

/*---Separador de página---*/

#img-separador {
  
  background-image: url('../img/fondo_1.jpg');
  margin: 0px;
  margin-left: 0px;
  margin-top: 10px;
  margin-bottom:0px;
}

/*----RESPONSIVE----*/

.in-flex-1{
  
  flex: 1;
  padding: 25px;
  min-width:250px;
  margin-bottom:0px;
}

.in-flex-1 div{
padding:20px;
}

.in-flex-2{

  flex: 2;
  padding: 25px;
  min-width:250px;
  margin-bottom:0px;
}

.in-flex-2 div{
  padding:20px;
}

/*----TITULO PRINCIPAL----*/
h1 {
  
  color:rgb(19, 16, 193);
  display:center;
  padding: 25px;
  margin-top: 20px;
  text-align: center;
  font-size: 30px;
  text-shadow: rgb(4, 4, 124) 2px 2px 5px;
}



#servicios li {
  margin-top: 20px;
  margin-left: 20px;
  font-size: 20px;
  align-content: center;
}

/*-----HOME------*/

#col-home {
  line-height: 2;
  margin-left: 0px;
}

#articulo_home_1 {

  font-size: 25px;
  margin-left: 50px;
  margin-top: 10px;
}

#contenido-home-2 {
  
  margin-top: 50px;
}

#contenido-home-2 h2 {
  font-size: 25px;
  margin-left: 20px;
}

#articulo_home_2 {
  font-size: 20px;
  margin-left: 20px;
  line-height: 35px;
}

#img-home-2 {
  background-image: url('../img/fondo_home.jpeg');
  border-radius: 25px;
  box-shadow: 10px 14px 20px rgb(4, 4, 4);
  width: 50%;
  height: auto;
  margin: 50px;
  margin-top: 100px;
  float: right;

}

#img-separador {
  margin-top: 30px;
  box-shadow: 10px 14px 20px rgb(4, 4, 4);
}

/*----Servicio Técnico-----*/

#contenido-servicio-1 {
  margin-top: 20px;
  font-size: 25px;
  line-height: 60px;
  margin-left: 100px;
}

#contenido-servicio-1 h2 {
  margin-top: 100px;
}

#img-servicio-1 {
  background-image: url('../img/img_reparacion.jpg');
  border-radius: 15px;
  box-shadow: 10px 14px 20px rgb(4, 4, 4);
  width: 600px;
  height: 400px;
  margin-top: 20px;
  margin-right: 50px;
  float: right;
}

/*----------REDES-----------*/

#contenido-redes-1 {
  margin-top: 20px;
  font-size: 25px;
  line-height: 60px;
  margin-left: 100px;
}

#contenido-redes-1 h2 {
  text-align: center;
  margin-top: 100px;
}

#img-redes-1 {
  background-image: url('../img/redes_3.jpg');
  border-radius: 15px;
  box-shadow: 10px 14px 20px rgb(4, 4, 4);
  margin-top: 10px;
  width: 600px;
  height: 400px;
  margin-right: 50px;
  float: right;
}

/*----Diseño Web-----*/

#contenido-disenio-1 {
  margin-top: 20px;
  font-size: 25px;
  line-height: 40px;
  margin-left: 100px;
}

#img-disenio-1 {
  background-image: url("../img/desarrollo_web_2.jpg");
  border-radius: 15px;
  box-shadow: 10px 14px 20px rgb(4, 4, 4);
  width: 600px;
  height: 400px;
  margin-right: 70px;
  float: right;
}

#contenido-disenio-2 {
  margin-top: 20px;
  font-size: 25px;
  line-height: 40px;
  margin-left: 100px;
}

#articulo_disenio_2 {
  margin-top: 60px;
  font-size: 25px;
  line-height: 40px;
  margin-left: 800px;
}

#img-disenio-2 {
  background-image: url("../img/desarrollo_web.jpg");
  border-radius: 15px;
  box-shadow: 10px 14px 20px rgb(4, 4, 4);
  width: 600px;
  height: 400px;
  margin-left: 50px;
  margin-top: 0px;
  float: left;
}

/*----Contacto y Formulario-----*/

#mensaje {
  color: rgb(25, 21, 232);
  margin-top: 20px;
  margin-left: 20px;
}

#form {

  margin-top: 40px;
  margin-left: 20px;
  
}

#fondo-contacto{

  background-image: url('../img/fondo_2.jpg');
  height: 1000px;
  
}


#registroForm {
  border-radius: 15px;
  
 
}

#registroForm input {
  margin-top: 40px;
  margin-left: 570px;
  width: 250px;
  height: 40px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

#cuadro_dialogo {
  border-radius: 15px;
  margin-top: 20px;
  width: 400px;
  height: 250px;
  margin-left: 500px;
}

footer {
  color: rgb(8, 7, 44);
  margin-top: 35px;
  text-align: center;
  margin-right: 10px;
  
}


@media (min-width: 768px) {

  /* Header horizontal */
  .nav-links {
    flex-direction: row;
    justify-content:space-between;
    gap: 40px;
  }

  #titulo_home h1 {
    font-size: 2.5rem;
  }

  /* Layout home 1 */
  #contenido-home-1 {
    max-width: 900px;
    margin: auto;
  }

  /* Layout home 2 */
  .in-flex-2 {
    flex-direction: row;
    align-items: center;
  }

  #img-home-2 {
    flex: 1;
    height: 250px;
  }

  #articulo_home_2 {
    flex: 1;
  }
}

/* ------------------- DESKTOP (>= 1024px) ------------------- */
@media (min-width: 1024px) {
  #titulo_home h1 {
    font-size: 3rem;
  }

  #contenido-home-1, 
  #contenido-home-2 {
    max-width: 1100px;
    margin: auto;
  }

  #img-home-2 {
    height: 300px;
  }
}








